*.o
*~
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
Makefile.in
test-driver
ylwrap
config.log
config.h
config.status
.deps
Makefile
stamp-h1
tk707.sh
*.texi
*.info
*.help
custom_defs.c
gui.c
help.c
playa.c
ports.c
procs.c
score.c
score_defs.c
texi2help.c
title.c
title_defs.c
tk707.c
score.tcl
score_defs.tcl
stamp-vti
tcl2c
texi2help
title.tcl
title_defs.tcl
tk707bin
tk707.html
tk707tcl
build
